.DS_Store

*.mov

Vision/src/log.txt

Workspace/.metadata/.mylyn/.tasks.xml.zip

Workspace/.metadata/.mylyn/tasks.xml.zip

Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Tracker/.markers.snap

Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Tracker/.markers.snap

Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Tracker/.syncinfo.snap

*.snap

Workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

Workspace/.metadata/.plugins/org.eclipse.core.resources/.snap

Workspace/.metadata/.plugins/org.eclipse.core.resources/.snap

Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

Workspace/.metadata/.plugins/org.eclipse.jdt.core/3150341086.index

Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/d4/b096d7fe242900131ccfc248a18bd2ff

*.class

Workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

*.class

Tracker/bin/Tracker.class

Tracker/bin/Tracker.class

Tracker/bin/Tracker.class
